# Nix
.direnv

# Application config
config/development.js

!jest.config.js
*.d.ts
node_modules

# CDK assets
.cdk.staging
cdk.out

!.eslintrc.js

# yarn berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
